<app-nav></app-nav>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="card" style="margin-top: 40px; padding: 1%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);">

    <div class="card" id="busca" style="margin-bottom: 40px;">
        <div class="row" style="margin-top: 30px; margin-left: 30px; width: 100%;">
            <!-- <div class="row" id="search"> -->
            <div class="form-group col-md-6 ">
              <svg style="margin-bottom:-60px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
              <input id="buscar" class="form-control " placeholder="Buscar Produto" style="width: 80%; margin-left: 15px;"  [(ngModel)]="filter"/>
            </div>
            <!-- </div> -->
            <div class="form-group col-md-6" >
              <svg style="margin-bottom:-60px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
              </svg>
              <select id="buscar" class="form-control" placeholder="Filtrar por Categoria" [(ngModel)]="filter2" style="width: 80%; margin-left: 15px;">
                    <option value="" [selected]> Filtrar por Categoria</option>
                    <option>Beleza</option>
                    <option>Domésticos</option>
                    <option>Eletrônicos</option>
                    <option>Esporte</option>
                    <option>Higiene</option>
                    <option>Música</option>
                    <option>Limpeza</option>
                    <option>Roupas</option>
                </select>
            </div>
        </div>
    </div>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descricao</th>
      <th scope="col">Data da Compra</th>
      <th scope="col">Preco</th>
      <th scope="col">Categoria</th>
      <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <tr *ngFor="let produto of filteredProduto | sort: 'categoria'">
      <td>{{ produto.id }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.data | date: 'dd/MM/yyyy'}}</td>
      <td>R$ {{ produto.preco}}</td>
      <td>{{ produto.categoria}}</td>
      <td><button id="edit" class="btn" (click)="update(produto.id)"><i class="bi bi-pen" style="color:#00692C; font-size: larger;"></i></button>&nbsp;<button id="trash" class="btn" (click)="delete(produto)"><i class="bi bi-trash" style="color: #9C1010; font-size: larger;"></i></button></td>
    </tr>
    </tbody>
  </table>
  
  <!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProducts()">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div> -->

</div>